body {
  background: gray;
}

.game-board {
  flex-direction: column;
  display: flex;
  height: 400px;
  width: 400px;
  margin: 250px auto;
  flex-wrap: wrap;
}

#code-guess-container {
  height: 330px;
  width: 400px;
  background: white;
}

#code-storage{
  height: 70px;
  width: 400px;
  background: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#feedback-board {
  width: 100px;
  height: 400px;
  background: black;
  color: white;
}


.button-container {
  width: 60px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
}

.buttons {
  border: 3px solid white;
  height: 60px;
}

#red {
  background: red;
}

#yellow {
  background: yellow;
}

#blue {
  background: blue;
}

#orange {
  background: orange;
}

#green {
  background: green;
}

#purple {
  background: purple;
}

.sequence-square {
  border: 3px solid white;
  height: 60px;
  width: 60px;
  margin: 0 17px 0 17px;
}

.guess-square {
  border: 3px solid black;
  height: 60px;
  width: 60px;
  margin: 0 17px 0 17px;
}
