body {
  width: 960px;
  margin: 0 auto;
  background: gray;

}

.instruction {
  position: relative;
  width: 600px;
  text-align: center;
  background: black;
  display: flex;
  justify-content: center;
  margin: 20px auto 0 auto;
}

.instruction h1 {
  color:white;

}

.game-board {
  position: relative;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  display: flex;
  height: 430px;
  width: 400px;
  margin: 0 365px 50px 195px;
  flex-wrap: wrap;
}

#code-guess-container {
  height: 330px;
  width: 400px;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

#code-storage{
  height: 100px;
  width: 400px;
  background: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#feedback-board {
  width: 100px;
  height: 330px;
  background: lightgray;
  color: white;
}

#feedback-button-container {
  width: 100px;
  height: 100px;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;

}

.feedback-buttons {
  border: 3px solid lightgray;
  height: 40px;
  width: 40px;
}

#black {
  background: black;
}

#gray {
  background: gray;
}

.button-container {
  width: 60px;
  height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
}

.buttons {
  border: 3px solid white;
  height: 60px;
}

#red {
  background: red;
}

#yellow {
  background: yellow;
}

#blue {
  background: blue;
}

#orange {
  background: orange;
}

#green {
  background: green;
}

#purple {
  background: purple;
}

.sequence-square {
  border: 3px solid white;
  height: 60px;
  width: 60px;
  margin: 5px 17px 5px 17px;
}

.guessed-square {
  border: 3px solid lightgray;
  height: 60px;
  width: 60px;
  margin: 5px 17px 5px 17px;
}

.feedback-square {
  border: 1px solid white;
  height: 25px;
  width: 25px;
};
