body {
  width: 960px;
  margin: 0 auto;
  background: gray;

}

.instruction {
  position: relative;
  width: 600px;
  text-align: center;
  background: black;
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.instruction h1 {
  color:white;

}

.game-board {
  position: relative;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  display: flex;
  height: 410px;
  width: 400px;
  margin: 50px 360px 50px 200px;
  flex-wrap: wrap;
}

#code-guess-container {
  height: 330px;
  width: 400px;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

#code-storage{
  height: 80px;
  width: 400px;
  background: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#feedback-board {
  width: 100px;
  height: 330px;
  background: black;
  color: white;
}


.button-container {
  width: 60px;
  height: 410px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
}

.buttons {
  border: 3px solid white;
  height: 60px;
}

#red {
  background: red;
}

#yellow {
  background: yellow;
}

#blue {
  background: blue;
}

#orange {
  background: orange;
}

#green {
  background: green;
}

#purple {
  background: purple;
}

.sequence-square {
  border: 3px solid white;
  height: 60px;
  width: 60px;
  margin: 5px 17px 5px 17px;
}

.guessed-square {
  border: 3px solid lightgray;
  height: 60px;
  width: 60px;
  margin: 5px 17px 5px 17px;
}

.feedback-square {

};
